* {
  box-sizing: border-box;
}

header {
  border-radius: 10px;
  background-color: midnightblue;
  font-size: 90px;
  color: rgb(249, 250, 250);
}

.container {
  width: 25%;
  float: left;
  font-size: 14px;
}

.weatherCurrent {
  width: 75%;
  float: left;
}
